body{
    margin: 0;
 /*  background: linear-gradient(#59d4e8,#59d4e8,#caa5f1,#caa5f1,#fac0e1,#fac0e1, #d2fafb);*/
   font-family: 'Patua One', cursive;
}
body::-webkit-scrollbar{
    width: 10px  ;
    background: #f1def3;
    
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient( #1c1c1c, BLACK,#1c1c1c);
    
}
   .header{
       background: #39bdc8;
       width: 100%;
       height: 100px;
       display:flex;
       justify-content: space-between;
       align-items: center; 
       margin-bottom: 0%;
       top: 0px;
       
   }
   .header__img{
       width: 200px;
      /* margin-top: 10px;*/
       margin-left: 10px;
   }
  
   
   .login{
    background: linear-gradient(#39bdc8,#59d4e8,#caa5f1,#fac0e1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right:  30px; 
   /* padding: 0px,30px;*/
    min-height: calc(100vh - 200px); /*VH Es una medida relativa, que hace referencia al 100% de la vista de la pantalla*/
   }
   .login__contenedor{
       background: rgba(255, 255, 255, 0.1);
       border: 5px solid white;
       border-radius: 40px;
       color: white;
      
       padding-top: 60px;
       padding-right: 68px;
       padding-bottom: 40px;
       padding-left: 68px; 
       /*padding: 60px, 68px, 40px, 68px;*/
       min-height: 700px;
       width: 300px;
/*-------------------------Posicionamiento------------------------*/
       display: flex;
       justify-content: space-around;
       flex-direction: column;
/*---------------------------------------------------*/
   }
   .login_contenedor-form{
       display: flex;
       flex-direction: column;
   }
   .login_contenedor-form label{
       font-size: 14px;
   }/*------------------------------------------------------------------------pulse--------------------*/
   @keyframes label {
    0% {transform: scale(1);}
    50% {transform: scale(1.6);}
    100% {transform: scale(1);}
  }
  .label {
    animation-name: label;
    animation-duration: 3s;
  }
  /*.animated { /*** -----------------Animacion *--------------------
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }*/
/********************---------------------------------------*****************************/
   .login__contenedor-renombrar{
       display: flex;
       color: white;
       justify-content: space-between;
       margin-top: 10px;
   }
   .login__contenedor-renombrar a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    
   }
   .login__contenedor-renombrar a:hover{
    text-decoration: underline;
    
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    
   }
   .login__contenedor-social-media > div{ /*el > selecciona todas las propiedades, en este caso los div, para estilizarlos*/
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    
   }
   .login__contenedor-social-media > div > img{
    width: 30px;
    margin-right: 10px;
   }
   .login__contenedor-registrar{
       font-size: 14px;

   }
   .login__contenedor-registrar a{
    font-size: 16px;
    color: white;
   /* font-weight: bold; ----------------------sirve para poner modo negritas (mas grueso)*/
    text-decoration: none;

}
.login__contenedor-registrar a:hover{
    text-decoration: underline;

}
.login__input{
    background-color: transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid white;
    font-family: 'Patua One', cursive; /*cambia la letra*/
    font-size: 16px;    
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    outline: none; /*sirve para eliminar el borde cuando seleccionas la casilla del input jejejej*/
    color: white;
    height: 50px;

} ::placeholder{ /*seudo elemento que nos ayuda a cambiar el color de input a blanco*/
    color:white;
}
.button{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-family: 'Patua One', cursive; /*cambia la letra*/
    font-size: 16px; 
    height: 50px;
    letter-spacing: 2px; /*Espacio entre cada letra del boton*/
    margin-top: 10px;
    margin-bottom: 10px;
}
.divloco{
     background-color: #fac0e1;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
}
.footer{
    background-color: #1c1c1c; 
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    border-top: 3px solid #fac0e1;
}
.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 10px;
    text-decoration: none;
}
.footer a:hover{
    color: #fac0e1;

    text-decoration: underline;
}
.Error{
    display: flex;
    align-items: center;
    flex-direction: column;
   
    color: white;
    
}
.Error h2{
    font-size: 80px;
    margin-bottom: 5px;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.Error p{
    font-size:20px; 
    margin-top: 2px;
}
@media only screen and (max-width: 600px){
    .login__contenedor{
        background-color: transparent;
        border: none;
        padding-top: 0px;
        padding-right: 1px;
        padding-bottom: 0px;
        padding-left: 1px; 
        width: 100%;
    }
    .footer{
        padding-top: 10px;
        align-items: center;
        flex-direction: column;
      
    }
    footer a{
        margin-top: 5px;
    }
}