
body{
     margin: 0;
     background: linear-gradient(#39bdc8,#59d4e8,#caa5f1,#fac0e1);
    font-family: 'Patua One', cursive;
}
body::-webkit-scrollbar{
    width: 10px  ;
    background: #f1def3;
    
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient( #1c1c1c, BLACK,#1c1c1c);
    
}
    .header{
        background: linear-gradient(#59d4e8);
        width: 100%;
        height: 80px;
        display:flex;
        justify-content: space-between;
        align-items: center; 
        
    }
    .header__img{
        width: 200px;
        margin-top: 10px;
        margin-left: 10px;
    }
   
    .header__menu{
        margin-right: 30px;
        
    }
    .header__menu ul{
        display: none; /*---------AQUI ME AYUDA A DESAPARECER EL DISPLEY*/
       list-style:none; 
       padding: 0px;
       position: absolute;
       width: 100px;
       text-align: right;
       margin: 0px 0px 0px -14px;
    }/*-----------------EFECTO DE DESPLIEGUE :O ---------------------------------------*/
    .header__menu:hover ul, ul:hover{
        display: block;
    }
    /*----------------------------------------------------------------*/
    .header__menu li{
        margin: 10px, 0px;
    }
    .header__menu li a{
        color: white;
       text-decoration: none; /* elimina la linea debajo */
    }
    .header__menu li a:hover{
        text-decoration:  underline;

    }

    .header__menu--perfil{
        margin-right: 8px;
        
        display: flex;
        align-items: center;
    }
    .header__menu--perfil img{
       margin-right: 8px;
       width:40px;

    }
    .header__menu--perfil p{
       margin:0px;
       color: white;
    }
    .main{
        height: 300px;
        /*Posicion de buscardor*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }
    .main__titulo{
        color: white;
        font-size: 25px;
    }
    .input{
        background-color: rgba(255, 255, 255, 0.289);
        border: 2px solid white;
        border-radius: 20px; /*REDONDEAR EL BORDE*/
        color: white;
        font-family: 'Patua One', cursive;
        font-size: 16px;
        height: 50px;
        padding: 0px 20px;
        width: 70%;
        outline: none; /*elimina la seleccion o borde del buscador*/
    }
    ::placeholder{
        color: white;
        border-radius: 20px;
    }
    /*----------------------------------------CARRUSEL------------------------------------------------------------------------*/
    .carrusel{
        width:100% ;
        overflow: scroll;
        overflow: visible; /*elimina la visibilidad del scroll vertical*/
        padding: 30px;
        position: relative;
    }
    .carrusel__contenedor{
        white-space: nowrap;
        margin: 70px 0px;
        padding-bottom: 10px;

        }
    .carrusel__item{
        background: linear-gradient(#59d4e8,#59d4e8,#caa5f1,#caa5f1);
        width: 200px;
        height: 250px;
        border-radius: 20px;
        overflow: hidden;
        margin-right: 10px;
        display: inline-block;
        cursor:  pointer; /*Cambiar el cursor*/
        transition: 700ms all; /*Aqui tenemos el tiempo de transicion*/
        transform-origin: center left;
        position: relative;
    }
    .carrusel__item:hover ~ .carrusel__item{
        transform: translate3d(100px, 0, 0);
    }
    .carrusel__contenedor:hover .carrusel__item{
        opacity: 0.3; /*apagar a los demas*/
    }
    .carrusel__contenedor:hover .carrusel__item:hover{
        transform: scale(1.5);/*Aumenta tamaño*/
        opacity: 1;
    }
    /*----------------------------Imagen dentro del Carrusel item-----------------------------------------*/
    .carrusel__item-img{
        width: 200px;
        height: 250px;
        object-fit: cover; /*modificar la estructura de la imagen*/
        transition: 700ms all; /*Aqui tenemos el tiempo de transicion*/
        transform-origin: right left;
        position:  absolute;
        
    }
    .carrusel__item:hover .carrusel__item-img{
        transform: scale(1.2);/*Aumenta tamaño*/
        opacity: 1;
    }
    /*---------------------------------------*/
    .carrusel__item-detalle{
        background: linear-gradient(to top, rgba(0, 0, 0, 0.9)0%, rgba(0, 0, 0, 0) 100%);/*Desbanecimiento :O*/
       font-size: 10px;
       opacity: 1;
       transition: 450ms opacity;
       padding: 10px;
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
    }
    /*--------------------------------------------------------------------------------*/
    .login{
        height: 900px;
        width: 100%;
    }
    .login__input{
        background-color: rgba(255, 255, 255, 0.289);
        border: 2px solid white;
        border-radius: 20px; /*REDONDEAR EL BORDE*/
        color: white;
        font-family: 'Patua One', cursive;
        font-size: 16px;
       
        padding: 0px 20px;
        
    }
    .carrusel__h2{
        font-size: 20px;
        font-family: 'Patua One', cursive;
        color: white;
    }
    .divloco{
        background: linear-gradient(#fac0e1);
       display: flex;
       align-items: center;
       height: 50px;
       width: 100%;
   }
    .footer{
        background-color: #1c1c1c; 
        display: flex;
        align-items: center;
        height: 100px;
        width: 100%;
        border-top: 3px solid #fac0e1;
    }
    .footer a{
        color: white;
        cursor: pointer;
        font-size: 14px;
        padding-left: 10px;
        text-decoration: none;
    }
    .footer a:hover{
        color: #fac0e1;
    
        text-decoration: underline;
    }